* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    text-align: center;
    width: 1000px;
}

th, td {
    border-bottom: 1px solid #e9e4de;
    height: 160px;
}

th {
    height: 50px;
    line-height: 50px;
    font-weight: normal;
}

td {
    padding: 10px 10px;
    color: #444;
    font-weight: bolder;
}

tbody tr:hover {
    background: #CFECEC;
}

.content {
    width: 1000px;
    margin: 40px auto;
}

.delete {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 150px;
    background-color: #BB9CA6;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.delete:hover {
    background-color: #c81622;
    color: #fff;
}

.deleteOne {
    display: block;
    height: 33px;
    line-height: 33px;
    width: 130px;
    color: #b5b5b5;
    border: solid 2px #b5b5b5;
    border-radius: 8px;
    background-color: #F2F9F9;
    cursor: pointer;
}

.deleteOne:hover {
    color: #c81622;
    border: solid 2px #c81622;
}

.on {
    background-color: #eee;
}

.goodsTitle {
    color: #c81622;
}


.check {
    cursor: pointer;
}

.checkbox {
    width: 60px;
}

.goods {
    width: 300px;
    overflow: hidden;
}

.goods span {
    width: 140px;
    margin-top: 16px;
    text-align: left;
    float: left;
}

.price {
    width: 130px;
}

.count {
    width: 90px;
}

.count .add, .count input, .count .reduce {
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 0;
}

.count .add, .count .reduce {
    height: 23px;
    width: 17px;
    border: 1px solid #C4C1C1;
    background: #C4C1C1;
    text-align: center;
    line-height: 23px;
    color: #444;
    font-size: 21px;
}

.count .add:hover, .count .reduce:hover {
    color: #c81622;
    z-index: 3;
    border-color: #c81622;
    cursor: pointer;
}

.count input {
    width: 50px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    z-index: 2;
}

.subtotal {
    width: 150px;
    color: red;
    font-weight: bold;
}

.goods img {
    width: 130px;
    /*height: 130px;*/
    /*border: 1px solid #ccc;*/
    margin-right: 5px;
    float: left;
}

.cartFooter {
    width: 1000px;
    margin-top: 10px;
    color: #666;
    height: 48px;
    border: 1px solid #c81622;
    background-color: #eaeaea;
    background-image: linear-gradient(RGB(241, 241, 241), RGB(226, 226, 226));
    position: relative;
    z-index: 8;
}

.cartFooter div {
    line-height: 50px;
    height: 50px;
}

.cartFooter a {
    margin-top: 4px;
    margin-right: 20px;
}

.selall {
    width: 100px;
    float: left;
    margin-left: 20px;
}

.selallSPAN:hover {
    color: red;
    cursor: pointer;
}

.cartFooter .select-all {
    width: 100px;
    height: 48px;
    line-height: 48px;
    padding-left: 5px;
    color: #666;
}

.cartFooter .closing {
    height: 48px;
    border-left: 1px solid #c81622;
    width: 100px;
    text-align: center;
    color: #000;
    font-weight: bold;
    background: RGB(238, 238, 238);
    cursor: pointer;
}

.cartFooter .closing:hover {
    color: #fff;
    background-color: #c81622;
}

.cartFooter .total {
    margin: 0 20px;
    cursor: pointer;
}

.cartFooter #priceTotal, .cartFooter #selectedTotal {
    color: red;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}

.cartFooter .selected {
    cursor: pointer;
}

.cartFooter .selected .arrow {
    position: relative;
    top: -3px;
    margin-left: 3px;
}

.cartFooter .selected .down {
    position: relative;
    top: 3px;
    display: none;
}

.show .selected .down {
    display: inline;
}

.show .selected .up {
    display: none;
}

.cartFooter .selected:hover .arrow {
    color: red;
}

.cartFooter .selected-view {
    width: 1000px;
    border: 1px solid #c81622;
    position: absolute;
    height: auto;
    background: #B8D7D7;
    z-index: 9;
    bottom: 48px;
    left: -1px;
    display: none;
}

.show .selected-view {
    display: block;
}

.cartFooter .selected-view div {
    height: auto;
}

.cartFooter .selected-view img {
    width: 130px;
}

.cartFooter .selected-view .arrow {
    font-size: 30px;
    line-height: 100%;
    color: #c81622;
    position: absolute;
    right: 282px;
    bottom: -15px;
}

.cartFooter .selected-view .arrow span {
    color: #B8D7D7;
    position: absolute;
    left: 0px;
    bottom: 2px;
}

#selectedViewList {
    padding: 20px;
    margin-bottom: -20px;
}

#selectedViewList div {
    display: inline-block;
    position: relative;
    width: 130px;
    /*height: 130px;*/
    border: 1px solid #ccc;
    margin: 10px 13px;
}

#selectedViewList .del {
    display: none;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    bottom: 19px;
    right: 30px;
    width: 70px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #c81622;
    cursor: pointer;
}

#selectedViewList .selCount {
    display: block;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #c81622;
    border-radius: 16px;
}

#selectedViewList div:hover span {
    display: block;
}


/*收货地址CSS*/
.cartTop {
    clear: both;
    height: 45px;
}

.countBalance {
    width: 500px;
    float: left;
    margin-top: 15px;
}

.addressDIV {
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    margin: 10px 28px 0 0;
    text-align: center;
    position: relative;
    float: right;
    cursor: pointer;
}

.addressDIV span {
    display: inline-block;
    width: 150px;
    height: 100%;
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    background: #FF6347;
    position: absolute;
    right: -9px;
    top: 0;
}

.addressDIV span::before,
.addressDIV span::after {
    content: "";
    width: 4px;
    height: 100%;
    background: #FF6347;
    position: absolute;
    top: 0;
    right: -8px;
}

.addressDIV span::after {
    right: -16px
}

.addressDIV span:hover {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
}

.devideDIV {
    height: 50px;
    line-height: 50px;
    border: solid 2px #555;
}

.devideDIV span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.devideDIV img {
    width: 30px;
    height: 30px;
}

.cartIconDIV {
    margin-top: 10px;
}